.father {
  display: flex;
  /* flex-direction: column; */

  /* Main Axis */
  justify-content: space-around;

  height: 100vh;
}

.child {
  background-color: peru;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 50px;
}

.child:nth-child(1) {
  order: 3;
  align-self: flex-end;
}

.child:nth-child(2) {
  order: 2;
}
